<%= form_with model: @recipe, url: recipes_create_path do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name%>
    <%= form.text_field :name, class: 'box-registration' %>
  </div>

  <div class="field">
    <%= form.label :preparation_time %>
    <%= form.text_field :preparation_time, class: 'box-registration' %>
  </div>

  <div class="field">
    <%= form.label :cooking_time %>
    <%= form.text_field :cooking_time, class: 'box-registration' %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'box-description' %>
  </div>

  <div class="form-check">
    <%= form.label :public %>
    <%= form.check_box :public, class: 'check' %>
  </div>

  <div class:"actions">
    <%= form.submit %>
  </div>
<% end %>
