<p style="color: green"><%= notice %></p>

<div class="page-title">
  <h1>Public Recipes</h1>
</div>

<% if @public_recipes.empty? %>
        <h3>Currently there aren't public recipes in the database</h3>
      <% else %>

<div class="recipe-list">

  <% @public_recipes.each do |recipe| %>
   <div class="recipe-card">

    <div class="card-content1">
  <p>
     <h3><%= link_to recipe.name, recipe, class:"link" %></h3>
  </p>

<h4><%= "By #{recipe.user.name}" %></h4>

  </div>

<div class="card-content2">

  <p><strong>Total food items: </strong><%= recipe.recipe_foods.count %></p>
  <p><strong>Total price ($): </strong><%= number_to_currency(recipe.total_cost) %></p>

  </div>

</div>

  <% end %>
<% end %>
<%= link_to "Back to recipes", recipes_path %>
