<section>
  <%= link_to "Back", recipes_path , :class => "link-pages" %>
  <div class="recipe-header">
    <h2><%=@recipe.name%></h2>
    <span><%=@recipe.public%></span>
  </div>
  <div class="recipe-info">
    <ul>
      <li>Preparation Time: <%=@recipe.preparation_time%></li>
      <li>Cooking Time: <%=@recipe.cooking_time%></li>
      <li>Steps: <%=@recipe.description%></li>
    </ul>
    <div class="recipe-buttons">
      <button>Generate shopping list</button>
      <button>Add Ingredient</button>
    </div>
  </div>
  <div class="recipe-foods-info">
  </div>
</section>
