<%= render 'shared/navbar' %>
<div class='container'>
  <div class='recipe-header-public'>
    <h1>These are all the public recipes avaible</h1>
  </div>
  <div class='recipe-card-container'><% @recipes.each do |recipe|%>
      <article class='recipe-card'>
        <div class='recipe-name-div'>
          <h2><%=link_to recipe.name, recipe_path(recipe)%></h2>
          <% if can? :destroy, recipe %>
            <%= link_to "Delete", recipe_delete_path(recipe.id),data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %>
          <% end %>
          <h3>by: <%=recipe.user.name%></h3>
        </div>
        <div class='recipe-description'>
          <h3><%=recipe.description%></h3>
        </div>
      </article>
    <%end%>
  </div>
</div>
