<%= render 'shared/navbar' %>
<div class='container'>
  <h1 class='title'>These are all the public recipes avaible</h1>

  <% @recipes.each do |recipe|%>

    <div class='recipe-card'>
      <div class='recipe-name-div'>
        <h2><%=link_to recipe.name, recipe_path(recipe)%></h2>
        <h3>by: <%=recipe.user.name%></h3>
      </div>
      <div class='recipe-name-div'>
        <h3>Total food items: <%=%></h3>
        <h3>Total price: $ <%=%></h3>
      </div>
    </div>
  <%end%>
