<tr>
  <td><%= recipe_food.food.name %></td>
  <td><%= recipe_food.food.measurement_unit %></td>
  <td>$<%= recipe_food.food.price %></td>
  <td><%= recipe_food.quantity %></td>
  <td class="table-links">
    <p><%= link_to "Modify",  class: "actions" %></p>
    <p  class='delete' ><%= link_to "Delete", delete_recipe_food_path(recipe_food, recipe_food.recipe), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %></p>
  </td>
</tr>
